
<div class="row p-2 border-bottom">
  <div class="col-auto p-0">
      <img src="./assets/images/lionLogi2.png" alt="Avatar" style="max-width:100px">
  </div>
  <div class="col-auto p-0">
      <h4 class="text-secondary"><b>LGeraTech</b></h4> 
      <p class="text-black-50">Online Shopping Application</p>
  </div>
</div>

<div class="container-fluid bg-light p-5 h-100">
  <div class="row pl-2 pr-2 justify-content-start">
    <div class="col-auto">
        <button type="button" class="btn btn-outline-secondary m-2" routerLink="/product-list"><i class="fa fa-list"></i> Go to Product List</button>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-outline-secondary m-2" routerLink="/product-form"><i class="fa fa-plus"></i> Add Product</button>
    </div>
  </div>
  
  <router-outlet></router-outlet>
</div> 